body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../../Images/Login_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu {
    position: relative;
    z-index: 2;
    background-color: rgba(168, 104, 188, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin-left: 50px;
}

form {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #203a57;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #1a2f45;
}

a {
    text-decoration: none;
    color: #203a57;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(27, 26, 26, 0.8);
    padding: 25px 30px;
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.nav_title {
    color: white;
    font-size: 24px;
    font-weight: bold;

}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-right: 30px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff5733;
}

nav a.logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 180px;
    width: auto;
}
